<table>
<tr>
<td>{{ref}}</td><td>{{Titre}}</td><td>{{Description}}</td>
<td>{{date_debut}}</td><td>{{date_fin}}</td><td>{{nb_participants}}</td>
</tr>
<tr>
<td>{{ref}}</td><td>{{Titre}}</td><td>{{Description}}</td>
<td>{{date_debut}}</td><td>{{date_fin}}</td><td>{{nb_participants}}</td>
</tr>
<tr>
<td>{{ref}}</td><td>{{Titre}}</td><td>{{Description}}</td>
<td>{{date_debut}}</td><td>{{date_fin}}</td><td>{{nb_participants}}</td>
</tr>
</table>